body {
    padding-top: 50px;
}
.instrument-container {
    padding-top: 40px;
}
.instrument-card {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border: 1px solid #D2D5D6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.instrument-image {
    height:355px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border:1px solid #909090;
}

.instrument-card h3 {
    margin-top: 0;
}
.instrument-card h3 .photo-time {
    font-size:0.5em;
    float:right;
}

.instrument-card .control-label, .instrument-card label {
    font-weight: normal;
    text-transform: uppercase;
}

.instrument-card .slider.slider-horizontal {
    width:100%;
    margin-top: 0.8em;
}

.instrument-card .slider.slider-horizontal .slider-selection {
    background: #18bc9c;
}
.instrument-card .slider.slider-horizontal .slider-handle {
    background: #2c3e50;
}
.instrument-card .sensor-selectors {
    padding-top:11px;
}
.instrument-card .sensor-selectors .form-group {
    margin-bottom: 0;
}
.instrument-card .sensor-selectors select.form-control {
    padding:5px 10px;
    width: 90%;
    height:35px;
}
.instrument-card .mis-connections {
    margin-top:4px;
}
.instrument-card .small-number-input {
    padding:5px;
    height:35px;
    width:40px;
    display: inline-block;
}